.header {
	background: grey;
	text-align: center;
	max-width: 100em;
	height: 10em;
}
#mid {
	width: 50em;
	min-width: 10em;
	height: 500px;
	min-height: 500px;
	float: left;
	background: green;
	text-align: center;
}
#left {
	width: 25em;
	height: 500px;
	min-width: 10em;
	min-height: 500px;
	float: left;
	background: orange;
	text-align: center;
}
#right {
	width: 25em;
	min-width: 10em;
	height: 500px;
	min-height: 500px;
	float: left;
	background: orange;
	text-align: center;
}
.footer {
	max-width: 100em;
	height: 10em;
	background: grey;
	text-align: center;
	clear: both;
}
.material-icons {
	vertical-align: -1em;
}
