.header {
	top: 0;
	left: 0;
	text-align: center;
	position: fixed;
	width: 900px;
	height: 100px;
	background: grey;
	z-index: 10;
}
#mid {
	top: 100px;
	left: 250px;
	position: fixed;
	width: 400px;
	height: 700px;
	text-align: center;
	background: green;
}
#left {
	top: 100px;
	left: 0;
	position: fixed;
	width: 250px;
	height: 700px;
	text-align: center;
	background: orange;
}
#right {
	top: 100px;
	left: 650px;
	position: fixed;
	width: 250px;
	height: 700px;
	text-align: center;
	background: orange;
}

.footer {
	top: 800px;
	left: 0;
	position: fixed;
	text-align: center;
	width: 900px;
	height: 200px;
	background: grey;
}
