.container {

}
.header {
padding: 20px;
background: grey;
text-align: center;
}
#row {
    height: 500px;
}
#mid {
width: 50%;
float: left;
background: green;
text-align: center;
}
#left {
width: 25%;
float: left;
background: orange;
text-align: center;
}
#right {
width: 25%;
float: left;
background: orange;
text-align: center;

}
.footer {
padding: 20px;
background: grey;
text-align: center;
}